#contact{
   width: 100%;
   position: relative;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.contact-section h1{
   max-width: fit-content;
   display: block;
   border-bottom: 4px solid var(--color-green);
   padding-bottom: 12px;
}

.contact-section h1  {
   margin-bottom: 36px;
}

.contact-info {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 48px;
   padding-bottom: 9px;
}
  
 
 
.contact-info a { 
   transition: .3s all ease; 
   font-size: 24px; 
   margin: 0 16px; 
   padding: 8px;
}

.contact-section { 
   display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
} 
 
.contact-form {
   max-width:600px;
   width: 100%;
   background-color: rgba(158, 157, 157, 0.1);
   box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.2);
   padding: 16px 28px 24px 28px;
   border-radius: 18px;
   text-align: center;
}

.contact-form input, 
.contact-form textarea{
   width: 100%;
   margin: 12px auto;
   border: none;
   border-radius: 10px;
   padding: 10px;
   outline: none;
   caret-color: black;
}
 
.contact-form button{
   margin-top: 16px;
   width: 96px;
   padding: 8px 12px;  
}
 
.contact-form textarea{ resize: none; }

@media (max-width: 768px){
   .contact-section{ flex-direction: column; }
}