#projects {
   min-height: 100vh;
   padding: 72px 0 40px 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.projects-title {
   display: flex;
   justify-content: center;
   align-items: center;
}

#projects h1{
   margin-bottom: 36px;
}

.projects-showcase { text-align:center;}
.project-card {
   position: relative;
   display: inline-block;
   margin: 0px 20px 36px 20px;
   background-color: rgba(255, 255, 255, 0.65);
   border-radius: 12px;
   box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.2);
   overflow: hidden;
   height: 520px;
   width: 310px !important;
   padding-bottom: 12px;
}

.project-content {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.thumbnail {
   display: flex;
   width: 100%;
   height: 190px; 
   object-fit: cover;
   object-position: center;
   margin-bottom: 16px;
}

.project-details {
   position: relative;
   text-align: left;
   margin-bottom: auto;
   padding: 0px 14px 12px 14px;
   font-weight: bold;
}

.project-details h2{
   border-bottom: 3px solid var(--color-blue);
   padding-bottom:4px;
   width: fit-content;
   font-size: 16px;
}

.technologies {
   display: flex;
   max-width: 300px;
   flex-wrap: wrap;
   margin: 8px 0;
}

.link-btn {
   display: flex;
   justify-content: space-evenly; 
 padding-bottom: 16px;
}

.link-btn a {
   padding: 8px 12px;  
   border-radius: 12px;
   width:40%;   
  
}

.technologies h4{
   background-color: rgba(255, 255, 255, 0.4);
   border: 2px solid black;
   padding: 4px 8px;  
   border-radius: 8px;
   margin: 2px 12px 2px 0;
}
    
#projects h1 {
   max-width: fit-content;
   display: block;
   border-bottom: 4px solid var(--color-green);
   padding-bottom: 12px;
}