@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

:root {
   --color-blue: #30bced;
   --color-green: #4ec269;
}
 
*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: gray rgb(165, 165, 165);
    scroll-behavior: smooth;
}

*::-webkit-scrollbar { width: 12px; }
*::-webkit-scrollbar-track { background: rgb(165, 165, 165); }
*::-webkit-scrollbar-thumb {
   background-color: gray;
   border-radius: 20px;
   border: 3px solid rgb(165, 165, 165);
}
 
body {
   position: relative;
   overflow: hidden;
   background-image: url("../imgs/sun-tornado.svg");
   background-position: left;
   background-size:cover;
   caret-color: transparent;
   color: rgb(0, 30, 60);
   overflow-y: auto;
   padding-bottom: 72px;
   font-family: 'Titillium Web', 'Arial', sans-serif;
   
}  


ul li { list-style: none; }
a { text-decoration: none; }
p { font-size: 15px; }

.container {
   max-width: 1200px;
   margin: 0 auto;
   position: relative;
   margin-top: 64px;
   padding: 24px 48px;
}

.wrapper { overflow-x: hidden; } 
.nav {
   background-color: rgba(158, 157, 157, 0.12);
   box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   padding: 16px 24px;
   width: 100%;
   z-index: 999;
   font-weight: bold;
   position: fixed;
   backdrop-filter: blur(8px);
}

.nav h3 { font-size: 18px;  padding: 4px 8px; } 
.nav ul { display: flex; }
.nav ul li { margin: 0 16px; }
.nav ul li a { 
   color: #222;
   font-size: 18px;
   padding: 4px 8px;
   transition: .3s ease all;
   border-radius: 12px;
}

.nav ul li a:hover { color: var(--color-blue); }
   
.btn,.btn-gray {
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   color: #fff;
   background-color: var(--color-green);
   border: 2px solid rgb(37, 37, 37);
   border-radius: 12px;
   box-shadow: 3px 3px 0px rgb(37, 37, 37);
   transition: all 0.3s ease;
}
 
.btn-gray {
   background-color: #a9a9a9;
   cursor: pointer;
}

.btn:hover {
   background-color: #fff;
   color: var(--color-green);
   border: 2px solid var(--color-green);
   cursor: pointer;
   box-shadow: 3px 3px 0px var(--color-green);
}

.btn-blue { background-color: var(--color-blue); }
.btn-blue:hover {
   background-color: #fff;
   color: var(--color-blue);
   border: 2px solid var(--color-blue);
   box-shadow: 3px 3px 0px var(--color-blue);
} 

 .btn:active {
   box-shadow: 0px 0px var(--main-color);
   transform: translate(3px, 3px);
}

.scroll-top-button {
   position: fixed;
   display: none;
   bottom: 32px;
   right: 32px;
   font-size: 20px;
   padding: 8px;
   z-index: 999;
   cursor: pointer;
}


/*-- Home --*/  
#about {
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
}

.introduction {
   display: flex;
   justify-content: center;
 
}

.home-left{
   width: 55vw;
   position: relative; 
   margin-right: 8px;
}

.home-left h1 {
   margin: 4px auto 32px auto;
   font-size: 48px;
   font-weight: bolder;
   color: var(--color-blue);
}

.home-left h2 { font-size: 36px; }
.about-me { margin: 36px auto 56px auto; line-height: 24px;  padding-right: 4px;}
 
.about-links a{
  margin-right: 24px;
  padding: 6px 12px;
}
  


@media (max-width: 918px) {
   .introduction{ flex-direction: column; padding-top: 56px; } 
   .home-right, .home-left{
      width: 100%;
      margin: 0 auto;
      text-align: center;
   }
   .home-left{ margin-bottom: 96px; }
}
  
@media (max-width: 768px){
   .nav { justify-content:center; }
   .nav h3 { display: none;}
}

@media (max-width: 570px){
     .container { padding: 24px; }
}
 
@media screen and (max-width: 414px) {
   .container { padding:24px 16px; }
  
}
 